<div class="d-none d-md-block">
    <h6>
        {{currentQuestionIndex + 1 }} / {{questions.length}}
    </h6>
</div>
<div class="d-flex flex-column justify-content-center align-items-center w-100 h-75">
    <div class="card w-100 h-100" #cardContainer >
        <div class="card-header bg-white d-flex justify-content-between">
            <div class="font-weight-bold text-center">
                {{question.headline}}
            </div>

        </div>
        <div class="card-body h-100 w-100">
            <span [ngSwitch]="question.question_type" class="w-100">
                <span *ngSwitchCase="'multiple-choice'" class="w-100">
                    <div class="w-100 p-1 my-2" *ngFor="let item of question.choices; let i=index">
                        <div class="card-body py-1">
                            <label class="form-check-label cursor-pointer" for="{{i}}">
                                <input type="radio" class="form-check-input" id="{{i}}" name="optradio"
                                    (change)="onItemChange(i)" [checked]="item.selected"
                                    value="{{item.value}}">{{item.label}}
                            </label>
                        </div>
                    </div>
                </span>
                <span *ngSwitchCase="'text'">
                    <div class="form-group">
                        <textarea class="form-control" rows="5"
                            (keyup)="changeContextInInput(question , $event.target.value)" id="comment"
                            value={{questions[this.currentQuestionIndex].description}}></textarea>
                    </div>
                </span>
            </span>

            <button *ngIf="hasConfirmedButton" class="btn btn-success" (click)="confirmQuestionnaire()">
                Confirm
            </button>
        </div>
    </div>
    <div class="w-100 mt-5 d-flex justify-content-between align-items-center">
        <div>
            <button class="btn btn-secondary btn-rounded btn-sm mx-5" (click)="prev()" [disabled]="disabledPrevButton">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
        <div class="w-100">
            <div class="display-progress-bar">
                <ngb-progressbar type="success" [value]="progressBarPercentage"></ngb-progressbar>
            </div>
            <div  class="d-xs-block d-md-none d-flex justify-content-center">
               <h6>
                {{currentQuestionIndex + 1 }} / {{questions.length}}
               </h6>
            </div>
        </div>
        <div>

            <button class="btn btn-secondary btn-rounded btn-sm mx-5"
                (click)="next(questions[this.currentQuestionIndex+1] , questions[this.currentQuestionIndex+1].choices)"
                [disabled]="disabledNextButton">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>